.calendar {
  text-align: center;
}
.calendar-header {
/*   display: grid;
  grid-template-columns: repeat(7, calc(100% / 7)); */
  display: flex;
}
.cell {
  /* width: 100%; */
  width: calc(100% / 7);
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.calendar-wrap {
/*   display: grid;
  grid-template-columns: repeat(7, calc(100% / 7)); */
  display: flex;
  flex-wrap: wrap;
}